{% extends 'rooster/base_edit.html' %}


{% block content %}


    <!-- Header -->
    <header id="top" class="header">



           <div class="text-vertical-center my-white">
            <h3>Geachte chauffeur, u bent uitgelogd en tot ziens</h3>
            <br>

            <!-- Sander -->
            <div class = "container my-maxwidth my-dienst-container">

                <div class ="row">


                    <div class = "col-xs-12">


                        <a href="/" class="btn btn-default"><span class="glyphicon glyphicon-ok"></a>



                    </div>





                </div>

            </div>

        </div>
    </header>




{% endblock %}
