{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Start Assistentie - betrouwbare HAP chauffeurs</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Custom CSS -->
    <link href="/static/css/stylish-portfolio.css" rel="stylesheet">
    <link href="/static/css/rooster2.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

     <!-- jQuery -->



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!-- scroll stuff -->
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>



    <script src="//cdn.jsdelivr.net/jquery.localscroll/1.4.0/jquery.localScroll.min.js"></script>




     <link href="/static/css/rooster2.css" rel="stylesheet">


</head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center my-white">

            <h3>
{% block message %}
            Hoi <b>{{user.chauffeur.naam}}</b>, waar kunnen we u mee van dienst zijn?
{% endblock %}
            </h3>
        

            <br>
            <!-- Sander -->
            <div class = "container my-maxwidth">
                <div class ="row my-color">
                    <div class="col-xs-6 my-color">
                        Alle diensten
                    </div>
                    <div class="col-xs-6">
                        Mijn diensten
                    </div>
                </div>

                {% for zipdate in zipdates %}

                <div class ="row my-margin">
                    <div class="col-xs-6">
                        <a href="/dienstlijst/{{zipdate.1}}#diensten" class="btn btn-dark btn-block my-buttonheight my-align external">{{ zipdate.0 }}</a>

                    </div>
                    <div class="col-xs-6">
                        <a href="/dienst_chauffeur/{{user.chauffeur.pk}}/{{zipdate.1}}#diensten" class="btn btn-dark btn-block my-buttonheight">{{ zipdate.0 }}</a>
                    </div>
                </div>

                {% endfor %}



            </div>


        </div>

    <div class=" btn btn-dark my-logout">
         <a href = "/accounts/logout" class="my-white">Uitloggen</a>
    </div>

        <div class=" btn btn-dark my-overnemen">
         <a href = "/overname-diensten/#diensten" class="my-white">Diensten overnemen</a>
    </div>

        <div class=" btn btn-dark my-pw-btn">
        <a href = "/password/" class="my-white">Wachtwoord wijzigen</a>
    </div>

        {% if request.user.is_superuser %}


        <div class=" btn btn-dark my-weekend-edit">
            <a href = "/weekend/#diensten" class="my-white">Weekend aanpassen</a>
        </div>

         {% endif %}



<div class=" btn btn-dark my-weekend">
            <a href = "/weekend_weergeven/#diensten" class="my-white">Weekend</a>
        </div>


        <div class=" btn btn-dark my-home">
            <a href = "/" class="my-white">Home</a>
        </div>


    </header>




{% block content %}
{% endblock %}


    <script src='/static/js/init.js'></script>

</body>

</html>
