{% extends 'rooster/base_edit.html' %}


{% block content %}


    <!-- Header -->
    <header id="top" class="header">



           <div class="text-vertical-center my-white">
            <h3>Hoi <b>{{user}}</b>, hierbij de details van de geselecteerde dienst</h3>
            <br>

            <!-- Sander -->
            <div class = "container my-maxwidth my-dienst-container">

                <div class ="row">


                    <div class = "col-xs-12">


    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <button href="/main/" class="save btn btn-default">Cancel</button>
    </form>

                    </div>





                </div>

            </div>

        </div>
    </header>




{% endblock %}
