{% extends 'rooster/base_edit.html' %}


{% block content %}


    <!-- Header -->
    <header id="top" class="header">



           <div class="text-vertical-center my-white">
            <h3>Hoi <b>{{user}}</b>, hierbij de details van de geselecteerde dienst</h3>
            <br>

            <!-- Sander -->
            <div class = "container my-maxwidth my-dienst-container">

                <div class ="row">


                    <div class = "col-xs-12">


    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default"><span class="glyphicon glyphicon-ok"></button>
        <a href="/dienstlijst/{{context.backlink}}" class="btn btn-default"><span class="glyphicon glyphicon-remove"></a>
    </form>

                    </div>





                </div>

            </div>

        </div>

            <div class=" btn btn-dark my-logout">
         <a href = "/accounts/logout" class="my-white">Log out</a>
    </div>
    </header>




{% endblock %}
